<!DOCTYPE html>
<html>
  <head>
    <title>AugmentedTests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://aframe.io/releases/0.7.1/aframe.min.js"></script>
    <script src="https://google-ar.github.io/three.ar.js/dist/three.ar.js"></script>
    <script src="https://rawgit.com/chenzlabs/aframe-ar/827e9db/dist/aframe-ar.min.js"></script>

  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
